@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional");
*{ padding:0; margin:0; list-style:none; box-sizing: border-box;}
body{ font-family: 'Noto Sans TC', 'Microsoft JhengHei UI', 'Microsoft JhengHei'; font-weight: 300;}